@model EventManagement.Models.EventSettingColumns
@{
    ViewBag.Title = "MasterShowColEvent";
    Layout = "~/Views/Shared/_Layout.cshtml";

}

<style>
    .disabled-checkbox {
        pointer-events: none; /* Prevents user clicks */
        opacity: 0.5; /* Makes it look disabled */
        cursor: not-allowed; /* Changes cursor to indicate disabled */
    }
</style>

<div class="container">
    <div class="m-3">
        <section class="row">
            <div class="col-12 m-2">
                <div class="form-card">
                    <h5 class="form-section-title">
                        <i class="fa fa-calendar-plus"></i> Add/View Event Badge Columns
                    </h5>
                    <p class="text-danger">Selected columns will show on add new badge page also print only those columns on badge</p>
                    @using (Html.BeginForm("MasterShowColEventCertificate", "Admin", FormMethod.Post, new { @class = "", role = "form", enctype = "multipart/form-data" }))
                    {
                        <div class="row">
                            <div class="col-4 p-2">
                                <label><b>Select Event</b></label>
                                <select id="EventId" name="EventId" class="form-select" tabindex="1">
                                    @if (Model?.EventDrop != null)
                                    {
                                        foreach (var item in Model.EventDrop)
                                        {
                                            <option value="@item.EventId">@item.EventName</option>
                                        }
                                    }
                                </select>
                            </div>
                            <div class="col-8 mt-2">
                                <label><b>check Columns for show in event badge page</b></label>
                                <div class="mt-1">
                                    <label> <input type="checkbox" id="chkRName" name="RName" class="form-check-input disabled-checkbox" value="true" checked />&nbsp;Name</label>
                                    &nbsp;&nbsp;
                                    <label> <input type="checkbox" id="chkDesignation" name="Designation" class="form-check-input disabled-checkbox" value="true" checked />&nbsp;Designation</label>
                                    &nbsp;&nbsp;
                                    <label> <input type="checkbox" id="chkCompany" name="Company" class="form-check-input disabled-checkbox" value="true" checked />&nbsp;Company</label>
                                    &nbsp;&nbsp;
                                    <label> <input type="checkbox" id="chkBarCode" name="BarCode" class="form-check-input disabled-checkbox" value="true" checked />&nbsp;BarCode</label>
                                </div>
                            </div>
                        </div>
                        <div class="clearfix mt-4"></div>
                        <div class="text-center">
                            <input type="submit" value="Submit" class="btn btn-success" />
                            <input type="submit" value="Reset" class="btn btn-warning" />
                        </div>
                    }
                </div>
                <div class="clearfix mt-2"></div>
                <div class="form-card">
                    <h5 class="form-section-title">
                        <i class="fa fa-calendar-plus"></i> Columns Information
                    </h5>

                    <div class="table-responsive border rounded shadow-sm mt-4">
                        <table id="tblprint" class="table table-hover align-middle mtable mb-0 mtable">
                            <thead class="table-dark">
                                <tr>
                                    <th>Sr.No</th>
                                    <th>Event Name</th>
                                    <th>Name</th>
                                    <th>Designation</th>
                                    <th>Company</th>
                                    <th>BarCode</th>
                                    <th>Status</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                @if (Model?.EventcolumnsDrop != null)
                                {
                                    int count = 1;
                                    foreach (var item in Model.EventcolumnsDrop)
                                    {
                                        <tr>
                                            <td>@count</td>
                                            <td>@item.EventName</td>
                                            <td>@(item.RName ? "Yes" : "No")</td>
                                            <td>@(item.Designation ? "Yes" : "No")</td>
                                            <td>@(item.Company ? "Yes" : "No")</td>
                                            <td>@(item.BarCode ? "Yes" : "No")</td>
                                            <td>@(item.IsActive ? "Active" : "Deactive")</td>
                                            <td>
                                                @if (item.IsActive)
                                                {
                                                    @Html.ActionLink("Deactive", "DeactiveEventcolumnsCertificate", "Admin", new { id = item.ColumnID }, new { @class = "btn btn-warning" })
                                                }
                                                else
                                                {
                                                    @Html.ActionLink("Active", "ActiveEventcolumnsCertificate", "Admin", new { id = item.ColumnID }, new { @class = "btn btn-success" })
                                                }
                                                <div class="clearfix mt-1"></div>
                                                @Html.ActionLink("Delete", "DeleteEventcolumnsCertificate", "Admin", new { id = item.ColumnID, eventid = item.EventId }, new { @class = "btn btn-danger" })
                                            </td>
                                        </tr>
                                        count++;
                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                </div>

            </div>
        </section>
    </div>
</div>

